version: "3.9"

services:
  postgres:
    image: postgres:18-alpine
    container_name: be_postgres
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U prisma"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: